apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: https://prometheus-production-da44.up.railway.app
    uid: prometheus
    isDefault: true
    editable: false
